<!-- hives_places_table.html -->
{% load custom_filters %}

<table>
    <thead>
        <tr>
            <th>Název</th>
            <th>Včelstev</th>
            <th>Typ</th>
            <th>Lokace</th>
            <th>Komentář</th>
            <th>Poslední prohlídka</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for hives_place in hives_places %}
            <tr>
                <td>{{ hives_place.name }}</td>
                <td>{{ hives_places_dict|get_name:hives_place.name }}</td>
                <td>{{ hives_place.type }}</td>
                <td>{{ hives_place.location }}</td>
                <td>{{ hives_place.comment }}</td>
                <td>{{ last_visits|get_name:hives_place.name|date:"d. m. Y" }}</td>
                <td><a href="{% url 'hives_place' hives_place.id %}">Zobrazit</a></td>
                <td><a href="{% url 'remove_hives_place' hives_place.id %}"
                        onclick="return confirmDelete({{ hives_places_dict|get_name:hives_place.name }})">
                        Smazat
                </a></td>
                </tr>
        {% endfor %}
    </tbody>
</table>