<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <script src="{% static 'scripts.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bee_note_css.css' %}">
</head>
    <body>
        <div class="container">
            <div>
                <a href="{% url 'index' %}">BEE-NOTE.info:   </a>
                Elektronický deník pro zápis a zobrazení dat o chovaných včelstev.
            </div>
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}

                {% if request.user.is_authenticated %}
                    <div><a href="{% url 'overview' %}">Přihlášený uživatel: {{ user.username }}</a></div>
                    <div><a href="{% url 'logout_user' %}">Odhlásit</a></div>
                {% else %}
                    <div><a href="{% url 'login_user' %}">Přihlášení včelaře.</a></div>
                    <div><a href="{% url 'signup' %}">Registrace nového včelaře.</a></div>
                {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>