<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <script src="{% static 'scripts.js' %}"></script>
</head>
<body>
<div>
    <a href="{% url 'index' %}">BEE-NOTE.info</a>
</div>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<h1><a href="{% url 'overview' %}">Přihlášený uživatel: {{ user.username }} </a></h1>

<a href="{% url 'logout_user' %}">Odhlásit</a>

{% block content %}
{% endblock %}

</body>
</html>